#my-nav {
   background-color:hsl( 165, 100%, 41% );
}

.white {
   color: #ffffff;
}

.title {
   font-size: xx-large;
   font-family: sans-serif;
}

.gr {
   background-color:hsl( 165, 100%, 41% );
}