<div class="text-center">
    <span class="mt-5">Vous êtes en position <span id="position"></span> dans la file d'attente</span>
</div>
<div class="bg-image" id="attente">
</div>
<!--Cas où il n'y a plus de places: redirigé vers l'accueil avec affichage de ce modal-->
<div class="modal fade" id="myModal4" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Résultat</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBodyContent">
                Il n'y a plus de places
            </div>
        </div>
    </div>
</div>